body {
  overflow-x: hidden;
}
h6 {
  font-size: 1em;
}

.container {
  width: 19cm;
  min-height: 29.7cm;
}

.invoice {
  background: #fff;
  width: 99%;
  padding: 50px;
}

.logo {
  width: 200px;
}

.document-type {
  text-align: right;
  color: #444;
}

.conditions {
  font-size: 0.7em;
  color: #666;
}

.bottom-page {
  font-size: 0.7em;
}
