
html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h6 {
  font-size: 1em;
}

.container {
  width: 19cm;
  min-height: 29.7cm;
}

.invoice {
  background: rgb(230, 230, 230);
  width: 99%;
  padding: 50px;
  border-radius: 0.5em;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.logo:hover {
  transform: scale(0.95);
  transition: transform 0.1s ease-in;
}

.right-type {
  text-align: right;
  color: #444;
}

.conditions {
  font-size: 1em;
  color: #666;
}

.bottom-page {
  font-size: 0.7em;
}

.page-footer {
  margin-top: 2em;
  position: sticky;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

#rswitch:checked{
  background-color: #dc3545 !important;
  border-color: rgba(141, 141, 141, 0.533) !important;
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23fff%27/></svg>") !important;
}

#gswitch:checked{
  background-color: #1b8856 !important;
  border-color: rgba(141, 141, 141, 0.533) !important;
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23fff%27/></svg>") !important;
}

#bswitch:checked{
  background-color: #1672fd !important;
  border-color: rgba(141, 141, 141, 0.533) !important;
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23fff%27/></svg>") !important;
}

#pswitch:checked{
  background-color: purple !important;
  border-color: rgba(141, 141, 141, 0.533) !important;
  background-image: url("data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%23fff%27/></svg>") !important;
}

.card-img-top{
  padding: px;
  background-color: rgb(255, 65, 65);
}

.accord{
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px;
}
